<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NGettext" version="0.6.3" targetFramework="net461" />
  <package id="NvdaTestingDriver" version="0.1.0" targetFramework="net461" />
  <package id="NvdaTestingDriver.MSTest" version="0.1.0" targetFramework="net461" />
  <package id="NvdaTestingDriver.Selenium" version="0.1.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
</packages>